.main {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	}
p, h1, h3, h4{
	font-family: Arial, Helvetica, sans-serif;
	}

.clear {
    float: none;
    width: 100%;
    height: 1px;
    
}
hr {
    border: 1px solid dodgerblue
}
#principal {
    width: 1340px;
	
}
.big_image {
    width: 100%;
}

.big_image img {
    width: 100%;
}
#first {
	margin-top: -60px;
	z-index: 1;
	width: 100%;
	background-color: white;
	position: fixed;
	border: 2px solid dodgerblue;
	border-left: none;
	}

/*******navigations-top******/


#navigation div {
    float: left;
}

#navigation ul {
    margin-left: 260px;
    margin-right: 50px;
	}

#navigation li {
	display:inline;
	padding: 10px;
}
#navigation ul a {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: black;
}
#navigation ul a:hover{
	color: blue;
}
/************************************/


#enter_button {
	z-index: 1;
    position: fixed;
	margin-top: -31px;
	margin-left: 1000px;
}
#first_image {
	margin-top: 60px;
	position: relative;
	height: 490px;
    background: url("images/programming.jpg") no-repeat;
    background-size: contain;
}
#first_image div a {
    position: absolute;
    margin-top: 320px;
    margin-left: 550px;
}

.detalization {
    margin: auto;
    width: 500px;
    text-align: center;
    line-height: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.detalization h3{
    color: dodgerblue;
}
.advantages {
    border-left: 2px solid #00ffff;
    float: left;
    width: 250px;
    padding: 30px;
    height: 240px;
}
#steps {
	margin-bottom: 100px;
	}
#steps div {
    height: 240px;
    text-align: center;
    background-color: white;
    margin-top: 50px;
}
#steps div h4 {
	padding-top: 50px;
	}
#footer{
	position: relative;
	margin-top: 20px;
	z-index: 0;
	
	}
#footer div {
	margin-left: 15px;
    float: left;
    height: 66px;
    font-size: 12px;
}

.footer {
    border-left: 2px solid #00ffff;
	padding-top: 10px;
	padding-left: 10px;
	color: #00ffff;
}
/************navigation-bottom***********/
#footer li {
    display:inline;
    padding: 8px;
}

#footer li a {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: dodogerblue;
}
/****************************************/
#footer p{
	font-size: 10px;
	}
/*************form*******************/
#forma {
    height: 365px;
    background: url("images/are_you_ready.jpg") no-repeat;
    background-size: contain;
    padding-top: 105px;
}
.submit_form {
    margin-left:auto;
    margin-right:auto;
    width: 480px;
    background: white;
    padding-top: 50px;
    padding-bottom: 30px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}


.submit_form input[type="text"], .submit_form input[type="email"] {
    border: 1px solid #DADADA;
    border-radius: 3px;
    color: #888;
    height: 30px;
    margin-left: 80px;
    margin-bottom: 5px;
    outline: 0 none;
    padding: 3px 3px 3px 15px;
    width: 300px;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.submit_form input[type="text"]:hover, .submit_form input[type="email"]:hover {
    border: 1px solid dodgerblue;
}
.submit_form .button {
    margin-left: 170px;
    background: red;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.submit_form .button:hover {
    background: #CF7A7A
}
/************pop-ups**********/

#overlay {
	visibility: hidden;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position:fixed;
    top:0px;
	left: 0;
	z-index: 100;
}
#overlay div form{
    margin: auto;
	margin-top: 200px;
}
